
  * {
    box-sizing: border-box; 
  }
  a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: bold;
  }
  body {
    margin: 0;
    min-height: 100%;
    color: rgba(255, 255, 255, 0.568);
    background-color: rgb(39, 18, 9);
    font-family: 'IBM Plex Sans', sans-serif;
  }

  .web-dev {
    color: antiquewhite;
    font-family: 'B612 Mono', monospace;
  }
  .portfolio {
    color: antiquewhite;
    font-family: 'B612 Mono', monospace;
  }
  .name {
    text-align: left;
    font-family: 'IBM Plex Mono', monospace;
    color: antiquewhite;
  }
.skills {
  text-align: left;
  padding: 1%;
  color: antiquewhite;
  font-family: 'B612 Mono', monospace;
}
.skills-list {
  text-align: left;
  padding: 1%;
  justify-content: right;
  padding-left: 10%;
}

.other {
  color: antiquewhite;
  font-family: 'B612 Mono', monospace;

}
  article {
    background-color: #FF6D33;
    min-height: 110%;
  }
  .description {
    text-align: right;
    padding-left: 10%;
    flex: 2;
    font-family: 'B612 Mono', monospace;
  }

  .inner-row article {
    min-height: 60vh;
  }
  .inner-row aside {
    background: #BF5226;
    flex: 1;
  }
  footer {
    justify-content:top;
    min-height: 30%;
    

  }
  header, footer {
    background: #421C0D;
    height: 15%;
  }
  header, footer, article, nav, aside {
    padding: 1em;
  }
